.root {
  position: relative;
  width: 7.0975px;
  height: 15.84px;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
